@import "./variable.scss";

.primary-button {
    padding: $buttonPadding;
    border: 2px solid $primaryGrey;
    color: $white;
    background: $primaryGrey;
    font-weight: bold;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
    word-break: keep-all;
    white-space: nowrap;

    &:hover {
        background-color: $white !important;
        color: $primaryGrey !important;
        border: 2px solid $primaryGrey !important;
        border-radius: 0.5rem;
        text-decoration: none;
    }

    &:focus, &:active {
        padding: $buttonPadding;
        border: 2px solid $primaryGrey !important;
        color: $white !important; 
        background: $primaryGrey !important;
        font-weight: bold;
        border-radius: 0.5rem;
        margin-right: 0.5rem;
        text-decoration: none;
        outline: none !important;
        box-shadow: none !important; 
    }
    
}

.secondary-button {
    padding: $buttonPadding;
    border: 2px solid $secondaryBlue;
    color: $secondaryBlue;
    font-weight: bold;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
    background: transparent;
    word-break: keep-all;
    white-space: nowrap;

    &:hover {
        background-color: $secondaryBlue !important;
        color: $white !important;
        border: 2px solid $secondaryBlue !important;
        border-radius: 0.5rem;
        text-decoration: none;
    }

    &:focus, &:active {
        padding: $buttonPadding;
        border: 2px solid $secondaryBlue !important;
        color: $white !important; 
        background: $secondaryBlue !important;
        font-weight: bold;
        border-radius: 0.5rem;
        margin-right: 0.5rem;
        text-decoration: none;
        outline: none !important;
        box-shadow: none !important; 
    }
}

.delete-button {
    padding: $buttonPadding;
    border: 2px solid $primaryRed;
    color: $primaryRed;
    font-weight: bold;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
    background: transparent;
    word-break: keep-all;
    white-space: nowrap;
    
    &:hover {
        background-color: $primaryRed !important;
        color: $white !important;
        border: 2px solid $primaryRed !important;
        border-radius: 0.5rem;
        text-decoration: none;
    }

    &:focus, &:active {
        padding: $buttonPadding;
        border: 2px solid $primaryRed !important;
        color: $white !important; 
        background: $primaryRed !important;
        font-weight: bold;
        border-radius: 0.5rem;
        margin-right: 0.5rem;
        text-decoration: none;
        outline: none !important;
        box-shadow: none !important; 
    }
}