@import "./variable.scss";

.nav-bar-container {
    background-color: $primaryBlue;
}

.nav-bar-text {
    color: $white !important;
    font-size: $textFontSize;
    font-weight: bold;
    overflow:'scroll';
}

.nav-bar-link {
    color: $white !important;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    text-align: center;

    &:hover {
        font-weight: 900;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        
        font-size: 1.2rem;
    }

}