/**
 * Author: Deep Patel.
 * Created On: 2021-07-20
 *  SCSS for Testimonials.
 */

.add-testimonial-container {
    .generate-button-container {
        float: right;
    }

    .button-container {
        float: right;
        margin-bottom: 0.2rem;
    }
    
    .data-table-container {
        margin-top: 0.5rem;
    } 
}