// Store all variables
$primaryRed: #FE5F55;
$primaryGrey: #495867;
$primaryBlue: #577399;
$secondaryBlue: #73A6D3;
$primaryBackground: #F7F7FF;
$borderColor: #00000033;
$white: #FFFFFF;
$buttonPadding: 0.2rem 0.5rem;
$textFontSize: 1.2rem;
$fontColor: #1a1a1abf;
$subtextFontSize: 1rem;
$subtextColor: #00000080;
$headerFontSize: 1.4rem;
$contentBoxShadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.05);

// Navigation Bar Style
$navDrawerBoxShadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.20);
$selectedItem: $primaryRed;
$navbarFontSize: 0.95rem;


